body{
    background-color: #EDE6DB;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width : 5%;
}
h1{
   color: #66BFBF;
}
h3{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #66BFBF;
}